
<!-- Toolbar -->
<app-toolbar></app-toolbar>

<div class="principal">
  <img class="principal__picture" src="../assets/images/photo-1494253109108-2e30c049369b.jpeg" alt="example" height="200em" width="200em">
  <div class="principal__info">
    <h2>Últimas tendencias</h2>
    <div class="principal__info--buttons">
      <button type="button" class="btn btn-outline-success">Reproducir</button>
      <button type="button" class="btn btn-outline-dark">Ver más tendencias</button>
    </div>
  </div>
</div>

<div class="content" role="main">

  <!-- <input type="hidden" #selection>

  <div class="card-container">
  </div> -->

  <!-- Terminal -->
  <!-- <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>ng generate component xyz</pre>
      <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
      <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
      <pre *ngSwitchCase="'dependency'">ng add _____</pre>
      <pre *ngSwitchCase="'test'">ng test</pre>
      <pre *ngSwitchCase="'build'">ng build --prod</pre>
  </div> -->

  <!-- Links -->
  <app-footer></app-footer>
</div>


