@import "../styles.scss";


:host {
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }


  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 40px 40px 40px;

    @media screen and (max-width: 575px) {
      flex-direction: column;
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: space-around;
      margin: 50px;

      &--buttons {
        display: flex;
        width: auto;
        border-radius: 50px;
        min-width: 300px;

        @media screen and (max-width: 575px) {
          flex-direction: column;
        }
      }
    }
  }

  .section {

    &__title {
      margin: 20px 40px;
      // display: flex;
      // flex-direction: column;
      
      // justify-content: space-between;

      &--button {
        margin-left: 10px;
        width: 10em;
        background-color: $primary-color--grape;
        color: $secondary-color--egg;
        // border: $primary-color--grape 1px solid;
        // display: flex;
        // flex-direction: row-reverse;
      }

      &__text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__title:before {
      // content: '';
      // width: 100%;
      // border: #24292e solid 2px;
      content:"";
      display: flex;
      height: 0.5em;
      vertical-align: bottom;
      width: 100%;
      margin-bottom: 7px;
      // margin-left: 10px;
      border-top: 2px solid rgb(109, 107, 107);
  }

    &__body {
      background-color: white;
      color: $primary-color--grape;
      border-radius: 6px;
      box-shadow: 0 2px 18px 0 rgba(0,0,0,0.11);
      // display: grid;
      // grid-template-columns: repeat(5, 1fr);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 20px 40px 45px 40px;
      padding: 7px 40px 40px 40px;
      border-left: 8px;
      border-style: solid;
      border-color: transparent;
      width: auto;
    }
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }


  /* Responsive Styles */

  @media screen and (max-width: 575px) {
  }
