
<!-- Toolbar -->
<app-toolbar></app-toolbar>

<div class="principal">
  <img class="principal__picture" src="../assets/images/photo-1494253109108-2e30c049369b.jpeg" alt="example" height="250em" width="250em">
  <div class="principal__info">
    <h2>Últimas tendencias</h2>
    <div class="principal__info--buttons">
      <button type="button" class="btn btn-outline-success m-2">Reproducir</button>
      <button type="button" class="btn btn-outline-dark m-2">Ver más tendencias</button>
    </div>
  </div>
</div>

  <div class="section">
    <h4 class="section__title">Mis álbumes
      <button class="btn section__title--button">Añadir álbum
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
      </button>
    </h4>
    
  </div>
  <div class="section__body">
    <app-album *ngFor="let album of data.default.albums"
      [albumInfo]="album">
    </app-album>
  </div>


  <div class="section">
    <h4 class="section__title">Mis artistas escuchados
      <button class="btn section__title--button">Añadir artista
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
      </button>
    </h4>
    
  </div>
  <div class="section__body">
    <app-artist *ngFor="let artist of data.default.artists"
      [artistInfo]="artist">
    </app-artist>
  </div>
  <!-- <input type="hidden" #selection>

  <div class="card-container">
  </div> -->

  <!-- Terminal -->
  <!-- <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>ng generate component xyz</pre>
      <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
      <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
      <pre *ngSwitchCase="'dependency'">ng add _____</pre>
      <pre *ngSwitchCase="'test'">ng test</pre>
      <pre *ngSwitchCase="'build'">ng build --prod</pre>
  </div> -->

  <!-- Links -->
<div class="content" role="main">
  <app-footer></app-footer>
</div>


