<div class="modal" aria-hidden="true" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>¿Seguro que quieres eliminar el elemento?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="showDeleteModal()">&times;</button>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="showDeleteModal()" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" (click)="confirmDelete()" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>
