.artist {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5em;
    box-sizing: border-box;
    padding: 10px;

    &__picture {
      height: 10em;
      width: 10em;
      border-radius: 50%;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__delete-btn {
      cursor: pointer;
      position: relative;
      top: 6px;
      right: -70px;
      z-index: 1;
    }

    &__delete-btn:hover {
      transform: translateY(-0.30rem);
      height: 1.56em;
      width: 1.56em;
    }
}