<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="toolbar__title">
    <img width="60" alt="Kenjotify Logo" src="../assets/images/logo-yellow.png"/>
    <span>{{ title }}</span>
  </div>
  
    <form class="toolbar__form form-inline my-2 my-lg-0 mr-3 d-none d-sm-block">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-search" xmlns="http://www.w3.org/2000/svg" font-weight="bold">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg>
      </button>
    </form>
  </div>
